pnpm-lock.yaml
.changeset/*.md

# bellow files are broken since prettier doesn't support MDX2
examples/swr-site/pages/remote/graphql-eslint/\[\[...slug\]\].mdx
docs/pages/docs/guide/advanced/latex.mdx
